body{
  margin: 0px;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

nav{
  height: 80px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-spotify{
  height: 44.984px;
  width: 132px;
}

.nav-item{
  text-decoration: none;
  color: white;
  padding: 28px 17px;
  font-weight: 700;
}
a:hover{
 color: #1ed760;
}

.main{
  height: 969px;
  background: rgb(41,65,171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-size: 175%;
  background-position: 46% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main1{
  font-size: 146px;
  line-height: 166px;
  color: #1ed760;
  font-weight: 900;
  position: relative;
  left: 225px;
  padding-bottom: 40px;
}

.main1-first{
  position: relative;
  left: -2.5em;
}

.main2{
  color: #1ed760;
  text-align: center;
  padding-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
}

.main-button{
  background: #1ed760;
  color: rgb(41,65,171);
  border: none;
  border-radius: 50px;
  padding: 14px 32px;
  font-weight: 700;
  font-size: inherit;
}

.main-button:hover{
      transform: scale(1.07);
    background-color: #2de26d;
}

footer{
  height: 530px;
  background: black;
  display: flex;
  justify-content: center;
}

.footer-w{
  width: 1170px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
}

.footer-first{
  display: flex;
  justify-content: space-between;
  
}

.footer-1{
  color: white;
  display: flex;
  
}

.footer-subtitle{
  color: #919496;
  font-weight: 900;
  margin: 20px 0px;
}

.footer-items{
  padding-bottom: 15px;
  padding-top: 3px;
  font-size: 16px;
}

.footer-1-2{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  
}

,footer-2{
  
}

.icon{
  border: solid 1px white;
  padding: 10px;
  color: white;
}

.icon:hover{
  color: #2de26d;
}

.footer-third{
  display: flex;
  justify-content: space-between;
}